@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    border: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

.Container{
    margin: 0 auto;
    background-color: #dcdcdc;
}

#topo{
    position: fixed;
    right: 10px;
    bottom: 10px;
}
/* SmartPhone Landscape*/
@media screen and (min-width: 576px) {
    body{
        background-color: #0ff;
    }
    .Container{
        max-width: 540px;
    }
}

/*Tablet Portrait*/
@media screen and (min-width: 768px) {
    body{
        background-color: #ff0;
    }    
    .Container{
        max-width: 720px;
    }
}

/*Tablet Landscape*/
@media screen and (min-width: 992px) {
    body{
        background-color: #ff6600;
    }
    .Container{
        max-width: 960px;
    }
}

/*Pc */
@media screen and (min-width: 1200px) {
    body{
        background-color: #f00;
    }   
    .Container{
        max-width: 1140px;
    }
}