@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    border: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

/*Layout*/
.Container{
    margin: 0 auto;
}

.flex{
    display: flex;
    justify-content: space-between;
}
.flex2{
    display: flex;
    align-items: center;
}
.botao{
    text-decoration: none;
    color: #fff;
    font-size: 1.3em;
    font-weight: 700;
    background-color: #c00000;
    padding: 10px 40px;
    border: 2px solid #fff;
    border-radius: 25px;
}

#topo{
    position: fixed;
    right: 10px;
    bottom: 10px;
}

/*SmartPhone Portrait*/

header{
    height: 60px;
}
#logo img{
    height: 128px;
    width: 128px;
}

#check{
    display: none;
}
label{
    font-size: 3em;
    padding-right: 15px;
}
nav ul{
    list-style: none;
    background-color: #343538;
    height: 100vh;
    position: fixed;
    top: 60px;
    right: -100%;
    width: 50%;
    transition: all 0.5s;
}
#check:checked~ul{ /*Aqui estou dizendo quando o checkbox criado for clicado e irá mudar (~) a propriedade do ul para o valor descrito */
    right: 0;
}
nav ul li{
    padding: 20px;
    border-bottom: 1px solid #a9a9a9;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
}

main{
    height: 75vh;
    background-image: url(img/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
main h1{
    font-size: 2.5em;
}
main h2{
    font-size: 1em;
    margin: 20px 0 50px 0;
}
main h1, main h2{
    text-shadow: #000 0.5em 0.5em 0.5em 0.5em;
}
#sobre{
    padding: 50px 0px;
    background-image: url(./img/background.png);
    background-size: cover;
    background-position: center;
}
#destaqueSobre{
    display: none;
}
#textoSobre{
    color: #fff;
    padding: 0px 10px;
}
#textoSobre h2{
    margin-bottom: 10px;
}
.topicosSobre{
    margin-top: 20px;
}
.topicosSobre img{
    margin-right: 10px;
}

/*Tablet Portrait*/
@media screen and (min-width: 768px) {
    .Container{
        max-width: 720px;
    }
    main{
        height: 45vh;
    }
    main h1{
        font-size: 5.5em;
    }
    main h2{
        font-size: 2em;
    }
}

/* SmartPhone Landscape*/
@media screen and (min-width: 576px) {
    .Container{
        max-width: 540px;
    }
}

/*Tablet Landscape*/
@media screen and (min-width: 992px) {
    .Container{
        max-width: 960px;
    }
    main{
        height: 70vh;
    }
}

/*Pc */
@media screen and (min-width: 1200px) {
    .Container{
        max-width: 1140px;
    }
    header{
        height: 128px;
    }
    #logo img{
        width: 189px;
        height: 189px;
        margin-top: 30px;
    }
    label{
        display: none;
    }
    nav ul{
        position: static;
        height: auto;
        background-color: transparent;
        display: flex;
        margin-top: 50px;
    }
    nav ul li{
        float: left;
        border: 0;
    }
    nav ul li a{
        color: #343538;
    }
    nav ul li a:hover{
        color: #c00000;
    }
    #sobre{
        background-attachment: fixed;
    }
    #destaqueSobre{
        display: inline;
    }
    #destaqueSobre img{
        border-radius: 50%;
        margin-right: 50px;
    }
}